<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles.css">
</head>
<body>
      <%- include('../partials/nav.ejs') %>

<h1 class="eventHeader"><%= Events.name %></h1>
<div id="eventDetails">
<h4>Date: <%= Events.date %> </h4>
<h4>City: <%= Events.city %> </h4>
<h4>Venue: <%= Events.venue %> </h4>
<h4>Price: <%= Events.price %> </h4>
<button>
<a  href="/events/<%= Events._id%>/edit">Edit</a>
</button>
</div>


      
</body>
</html>