<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Events</title>
      <link rel="stylesheet" href="/styles.css">
      <style>
            body{ 
                  background-image: url('https://mcdn.wallpapersafari.com/medium/60/84/yhk1gA.jpg');
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: 100% 100%;
            }
      </style>
</head>
<body>
      <%- include('./partials/nav.ejs') %>
      <h1 class="dashboardHeader">Events</h1>

<% for(let i = 0; i < Events.length; i++) {%>
<table class="eventsTable">
      <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Venue</th>
            <th>City</th>
            <th>Price</th>
            <th>Website</th>

      </tr>
      <tr>
            <td><%=Events[i].date%></td>  
            <td><a href="/events/<%= Events[i]._id %>"><%= Events[i].name%></a></td>
            <td><%=Events[i].venue%></td>  
            <td><%=Events[i].city%></td>  
            <td><%=Events[i].price%></td>  
            <td><a href="<%=Events[i].website%>">Link</a></td>  
      </tr>

</table>
<hr id="eventsLine">
<% } %>
<!-- List out the events here using a table so we can include the event happening and then the city it is happening in. -->
   
</body>
</html>