<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Events</title>
      <link rel="stylesheet" href="/styles.css">
</head>
<body>
      <%- include('./partials/nav.ejs') %>
      <h1 class="dashboardHeader">Events!</h1>

<% for(let i = 0; i < Events.length; i++) {%>
<table>
      <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Venue</th>
            <th>City</th>
            <th>Price</th>

      </tr>
      <tr>
            <td><%=Events[i].date%></td>  
            <td><a href="/events/<%= Events[i]._id %>"><%= Events[i].location%></a></td>
            <td><%=Events[i].venue%></td>  
            <td><%=Events[i].city%></td>  
            <td><%=Events[i].price%></td>  

      </tr>

</table>
<% } %>
<!-- List out the events here using a table so we can include the event happening and then the city it is happening in. -->
   
</body>
</html>